<ng-container *ngIf="!loading; else loadingSpinner">
  <label>Enter a date:</label>
  <mat-form-field color="accent">
    <mat-label>Select a date</mat-label>
    <input matInput [matDatepicker]="picker" #input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="onClick(input.value)">Submit</button>
</ng-container>
<ng-template #loadingSpinner>
  <mat-spinner></mat-spinner>
</ng-template>
